.container {
  width:  50%;
  margin: 0 auto;

  .header {
    padding: 50px 0px 30px;

    h1 {
      font-size: 3rem;
      margin: 0;
      padding: 0;
    }

    h2 {
      font-size: 1.2rem;
      margin: 0;
      padding: 0;
    }
  }

  .navbar {
    margin-bottom: 10px;
  }
}
