.container {
  width:  50%;
  margin: 0 auto;

  .header {
    padding: 50px 0px;

    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 1.2em;
    }
  }

  .navbar {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 29.75em) {
  .container {
    width: 90%;

    .header {
      h1 {
        font-size: 2.5em;
        line-height: 1em;
        margin-bottom: 10px;
      }
    }
  }
}
