.container {
  text-align: center;
  margin-top: 7%;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about {
  margin-top: 4%;
  font-size: 18px;
}

.social {
  padding-top: 3%;
}

.social a {
  color: #CC241D;
  text-decoration: none;
  background-color: #282828;
  margin: 10px 20px;
  font-size: 35px;
}

.social a:hover {
  text-decoration: underline;
}

.blog {
  margin-top: 5%;
}

@media all and (max-width: 1024px) {
  .container {
    padding: 15px;
  }
}
